[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
beautifulsoup4 = "4.9.3"
bs4 = "*"
requests = "2.25.1"
gspread = "*"
oauth2client = "*"
click = "7.1.2"
pre-commit = "*"
lxml = "*"
html5lib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.7"
